$text-base-color: #333A42;
$text-base-color: #333A42;
$bg-base-color: #fff;
$header-ht: 44px;
$top-to-prof: 46px;
$info-posts-left: 75px;
// profile-images-position-absolute
$base-from-top: 318px;
$base-from-left: 16px;