@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'variables';
@import 'mixin';
@import 'form';
@import 'buttons';
@import 'header';
@import 'footer';

@import 'tests';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  width: 375px;
  @include fz-14_lh-21;
  font-family: poppins;
  margin: auto;
  color: $text-base-color;
  background-color: $bg-base-color;
}

a {
  text-decoration: none;
  color: $text-base-color;
}

.container {
  width: 100%;
}