@import 'mixin';
@import 'variables';

.topImage {
  height: 298px;
  margin-bottom: 33px;
}

.field {
  width: 343px;
  height: 55px;
  margin: 20px auto 0;
  border-bottom: 1px solid #9e9e9e;
  & .label-ttl {
    height: 17px;
    color: #979797;
    @include fz-11_lh-16;
    font-weight: 500;
    opacity: .9;
  }
  & .text {
    height: 24px;
    color: #333;
    @include fz-16_lh-24;
    opacity: .9;
    background-color: $bg-base-color;
    &:valid {
      border: 1px solid #fff;
    }
    &:invalid {
      border: 1px solid red;
    }
  }
}

